/auth/node_modules

/auth/.env

todo.txt

/client/node_modules
/client/.pnp
/client/.pnp.js
/client/coverage
/client/build
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*


/server/node_modules
/server/.env
/server/cameras.json
/server/uploads
/server/encounters
/server/cam.txt

AI/encounters/
AI/face_recog/
AI/new_face_dir/
AI/train_images/
AI/pretrained models/
AI/.vscode/
AI/.git/
AI/__pycache__/
AI/todo.txt
AI/known_faces.txt
AI/config.json
AI/model.log


ipfs/node_modules
ipfs/.env